/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

/* 
 * pipeline input parameters 
 * Some of the parameters were not defined, so I defined them: minimap2_model, snv_calling, clair3_model, clair3_platform,
 * deepvariant_model. 
 * Maybe I didn't select the proper clair3/ deepvariant model, we can just change the name of the model to the correct one. 
 */
params {
  genomeref                = "./data/genomeref/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna" 
  genomeref_index          = "./data/genomeref/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.fai"
  sampleid                 = "test_run"
  outdir                   = "./data/Example_out_${params.sampleid}"
  fastqs                   = "./data/fastqs/"
  mapping                  = "yes"
  minimap2_model           = "map-ont"
  snv_calling              = "yes"
  clair3_model             = "ilmn"
  clair3_platform          = "ilmn"
  deepvariant_model        = "ont_r10_q20"
}

// Global default params, used in configs, Ahmed: This is where the temporary files of the nextflow will be stored 
workDir = './data/nextflow_working_directory'

/*
* I made cpu_low to be 8, to allow the workflow to be used on my laptop
* I have four tools (minimap2, samtools, deepvariant and clair3), due to short time/memory and to diversify, I used them as follows:
* minimap2: I built it locally (/home/ahmed/Documents/workstation_bioinf/minimap2-2.26_x64-linux/minimap2), and used this built version
* samtools: I used the samtools package provided by my operating system (debian 11)
* clair3 and deepvariant: I used docker containers
* I agree that docker containers are the best, 
* if we want to use a docker container for minimap2, samtools, it would be similar to what I did with clair3 and deepvariant
*/

process {
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries    = 1
  maxErrors     = '-1'

  withLabel: cpu_low {
    cpus   = 8
  }
  withLabel: cpu_mid {
    cpus   = 16
  }
  withLabel: cpu_high {
    cpus   = 32
  }

  withLabel:clair3 {
    container = 'hkubal/clair3:latest'
  }

  withLabel:deepvariant {
     container = 'kishwars/pepper_deepvariant:r0.8'
  }
  
}

// I added this to force using docker.
docker {
    enabled = true
}


/*
* How to install docker:
* sudo apt-get install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin 
* sudo usermod -aG docker ahmed (add my current user, so I don't need to use sudo)
* sudo docker build -f ./Dockerfile -t hkubal/clair3:latest . (Build the clair3 container from the Dockerfile provided on their github repo)
* docker pull kishwars/pepper_deepvariant:r0.8 (Pull the docker image for the pepper)
*/

/*
* How to build samtools locally without docker (version 1.9 is the latest however, it's not compatible with the current workflow, 
* apparently, there is a parameter --write-index was removed, I am not sure)
* wget https://github.com/samtools/samtools/releases/download/1.9/samtools-1.9.tar.bz2
* tar -vxjf samtools-1.8.tar.bz2 
* cd samtools-1.7/
* make
*----------
* How to use samtools on debian
* An older version (1.11) can be used smoothly through: sudo apt install samtools, this version worked smoothly for this workflow
*/

/*
* How to build minimap2 locally
* curl -L https://github.com/lh3/minimap2/releases/download/v2.26/minimap2-2.26_x64-linux.tar.bz2 | tar -jxvf -
*/